@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;500&display=swap');
/* Resets */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primery-text-color: #183b56;
    --secondary-text-color:#577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 20px;
}

body{
    font-family: 'Poppins', sans-serif;
    color: var(--primery-text-color);
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}

a{
    text-decoration: none;
    display: inline-block;
}
ul{
    list-style: none;
}

/* Utility classes */
.small-bold-text{
    font-size: 1rem;
    font-weight: 700;
}
.container{
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
}
.flex{
    display: flex;
    align-items: center;
}
.hover-links{
    color: var(--primery-text-color);
    transition: 0.2s ease-out;
}
.hover-links:hover{
    color: var(--accent-color);
}
.primery-button{
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 550;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
}
.primery-button:hover{
    background-color: var(--accent-color-dark);
}
.secondary-button{
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 550;
    color: var(--primery-text-color) !important;
    padding: 12px 24px;
    transition: 0.2s ease-out;
}
.secondary-button:hover{
    border-color: var(--accent-color);
    color: var(--accent-color) !important;
}

/* Top Banner */
.top-banner{
    background-image: url(./assets/asset\ 32.png);
    background-color: #4fb3d4;
    background-size: 300px;
}
.banner-text{
    color: white;
    padding: 20px 30px;
    text-align: center;
}

/* Nav */
.main-nav{
    margin-top: 20px;
    justify-content: space-between;
}
.company-logo img{
    width: 200px;
}
.nav-links{
    flex-basis: 730px;
}
.nav-links ul{
    justify-content: end;
    gap: 40px;
}

/* Header section */
header{
    padding: 50px var(--padding-inline-section) 0;
}
.header-section{
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
}
.header-left{
    max-width: 40vw;
}
.header-left h1{
    margin-top: 20px;
}
.get-started-button{
    margin-top: 20px;
}
.header-right img{
    width: 600px;
}

/* Companeies Section */
.companies-header{
    text-align: center;
    margin-block: 30px;
    color: var(--primery-text-color);
}
.logos{
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    height: 46px;
}

/* Features Section */
.features-section{
    margin-top: 30px;
    padding: 80px var(--padding-inline-section) 0;
    background-image: url(./assets/asset\ 34.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position:bottom;
}
.features-header{
    text-align: center;
    margin-bottom: 40px;
}
.features-header h2{
    margin-bottom: 20px;
}
.features-area{
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    margin-top: 30px;
    margin-bottom: 60px;
}
.features-card{
    flex-direction: column;
    gap: 20px;
    max-width: 30%;
    text-align: center;
}
.features-card img{
    max-width: 60px;
}

/* Big Features Section */
.big-features-section{
    padding: 30px var(--padding-inline-section) 0;
    justify-content: space-evenly;
}
.big-feature-container{
    gap: 30px;
}
.colen-first{
    background-image: url(assets/asset\ 35.svg);
    background-repeat: no-repeat;
    background-position: 51% 61%;
}
.feature-img img{
    width: 100%;
}
.features-description-up{
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.feature-companey-img img{
    max-width: 110px;
    padding-block: var(--padding-inline-section);
}
.feature-companey-img h4{
    font-weight: 590;
    max-width: 400px;
}
.chief{
    margin-top: 30px;
    gap: 10px;
}
.chief img{
    max-width: 50px;
}
.para-first p{
    font-size: 0.9rem;
}
.colen-second{
    background-image: url(assets/asset\ 35.svg);
    background-repeat: no-repeat;
    background-position: 0% 62%;
}
.colen-third{
    background-image: url(assets/asset\ 35.svg);
    background-repeat: no-repeat;
    background-position: 53% 61%;
}

/* Example Section */
.example-header{
    margin-top: 100px;
    text-align: center;
}
.example-header h2{
    margin-bottom: 20px;
}
.example-area{
    justify-content: space-between;
    margin-block: 35px;
}
.example-card{
    width: 23%;
    position: relative;
    min-height: 300px;
    background: black;
    transition: 0.2s ease-out;
}
.example-card:hover{
    box-shadow: 0 0 10px #888;
}
.card-text{
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: white;
}

/* cta section */
.cta-section{
    background-color: #183b54;
    margin-block: 50px;
    color: white;
    padding-top: 50px;
    padding-bottom: 60px;
    gap: 30px;
}
.cta-section-container{
    gap: 30px;
}
.cta-left{
    max-width: 50%;
}
.cta-left p{
    color: #a5bdd8;
    font-size: 1.32rem;
    margin-top: 30px;
    margin-bottom: 20px;
}
.panel h4{
    margin-bottom: 10px;
}
.panel-list{
    gap: 30px;
    margin-bottom: 20px;
}
.panel-left ul{
    list-style:circle;
    color: #a5bdd8;
}
.panel-right ul{
    list-style:circle;
    color: #a5bdd8;
}
.panel-calc a{
    color: white !important;
}
.cta-right{
    width: 550px;
    height: 550px;
    background-image: url(assets/asset\ 40.png);
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
}
.text{
    color: #000;
    width: 250px;
    height: 250px;
    background-image: url(assets/asset\ 41.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
